.box {
  width: 50px;
  height: 50px;
  background: red;
  border: 1px solid black;
  animation-name: first-animation;
  animation-duration: 1s;
  animation-delay: 1;
  animation-iteration-count: 4;
}

@keyframes first-animation {
  from {
    width: 100px;
    height: 100px;
    background: blue;
  }
  to {
    width: 10px;
    height: 10px;
    background: red;
  }
}
