.heading {
  color: darkblue;
  font-size: 15px;

  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 1s; */

  /* Transition Shorthand */
  transition: all 1s ease-in 1s;
}

.heading:hover {
  color: green;
  font-size: 10px;
}
