:root {
  --red: #ff6f69;
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

html,
body {
  background: var(--beige);
  color: var(--red);
}

h1,
p {
  color: var(--red);
}

#navbar a {
  color: var(--red);
}

.item {
  --red: #ff8e69;
  background: var(--yellow);
}

button {
  background: var(--red);
  color: var(--yellow);
}

/*

#ff8e69

*/
