body {
  margin: 0;
  background: #242423;
}

.box {
  height: 30px;
  width: 30px;
  animation: move 2s ease-in-out 1s 1 normal both;
}

.box-red {
  background: #ff4d4d;
  margin: 0;
}

.box-blue {
  background: #738cff;
  margin: 0;
}

.box-green {
  background: #46ff36;
  margin: 0;
}

.box-orange {
  background: #ffaf24;
  margin: 0;
}

@keyframes move {
  to {
    transform: translate(50vw, 50vh) scaleX(10) skew(60deg);
  }
}
