:root {
  --red: #ff6f69;
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

html,
body {
  background: var(--beige);
  color: var(--red);
}

h1,
p {
  color: var(--red);
}

#navbar {
  --nav-red: #ff6f19;
}

#navbar a {
  color: var(--nav-red);
}

.item {
  --item-yellow: #fffc5c;
}

.item {
  background: var(--item-yellow);
}

button {
  background: var(--red);
  color: var(--item-yellow);
}
