.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem;

    background-color: white;
    height: 14vh;
}

img:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
        padding: 0 4rem;
    }
}