.card-item {
    background-color: #f0f0f0;
    width: 17.5rem;
    height: 25rem;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
    /* box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);

    position: relative;
    margin-bottom: 2rem;

    transition: all 0.4s;
}

.card-item:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.card-rest-info {
    margin: 0 1.5rem;
    flex: 1;
}

.card-item img {
    object-fit: cover;
    width: 280px;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .card-title {
    font-size: 1rem;
    font-weight: 600;
}

.price {
    font-size: 0.875rem;
    font-weight: 600;
    color: #DB5D17;
}

.card-text {
    font-size: 0.875rem;
    width: 14.5rem;
    line-height: 20px;
    letter-spacing: 2%;
    margin: 0;
}

.card-ref {
    position: absolute;
    bottom: 0;
}

.card-ref a {
    font-size: 0.875rem;
    font-weight: 600;
    color: black;
    text-decoration: none;

    transition-duration: 0.2s;
}

.card-ref:hover {
    text-decoration: underline;
    cursor: pointer;
}