.testimonials {
    background-color: #ffefdf;
    margin-top: 5rem;

    height: 40.5rem;
}

.testimonials .testimonials-title {
    font-size: 2rem;
    text-align: center;
    padding-top: 4rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.review-cards {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}