:root {
  --box-unit: 50px;
  --main-color: #290000;
}

.hover-text {
  transition: all 0.5s;
}

.hover-text:hover {
  color: var(--main-color);
  font-size: 20px;
}

.box {
  position: fixed;
  width: var(--box-unit);
  height: var(--box-unit);
  background: red;
  border: 1px solid black;
  animation: size-down ease-out 0.5s infinite alternate both;
}

@keyframes size-down {
  100% {
    transform: scale(0.3, 0.3);
    background: var(--main-color);
  }
}
