* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 115%;
  background-color: #fffaf0;
  padding: 1rem;
}

header {
  background-color: #d3d3d3;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

nav {
  width: 80%;
}

nav + img {
  width: 10%;
}

nav ul {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

ul {
  list-style-type: none;
}

header > h1 {
  color: #06008b;
  text-align: center;
  font-style: italic;
}

main {
  background-color: #feff00;
  margin: 2rem 0;
}

main > p {
  margin-bottom: 1rem;
}

main > p:last-child {
  margin: 0;
}

footer {
  background-color: #d3d3d3;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
}

.grid-container > img {
  width: 100%;
}
