body,
main {
  height: 100vh;
}
section {
  padding: 5px;
}
section:nth-child(1) {
  background-color: #ddc3d0;
}
section:nth-child(2) {
  background-color: #dbdaea;
}
section:nth-child(3) {
  background-color: #dbfcff;
}
