.hero-section {
    background-color: #495E57;
    height: 25rem;

    display: flex;
    gap: 8rem;
    justify-content: center;
    flex: 1;
}

section .hero-content {
    align-self: center;
}

section .hero-content h1 {
    color: #F4CE14;
    font-size: 3rem;
    margin: 0;
}

section .hero-content h4 {
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

section .hero-content p {
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 2%;

    color: #ebebeb;

    width: 20rem;
}

section .hero-content button {
    background-color: #F4CE14;
    border-radius: 16px;
    border: none;

    font-weight: bold;
    font-size: 1.125rem;

    height: 46px;
    width: 11rem;
    object-fit: cover;
    margin-top: 1rem;

    transition-duration: 0.2s;
}

section .hero-content button:hover {
    background-color: #dfba01;
    cursor: pointer;

}

section .hero-image img {
    width: 110%;
    height: 105%;
    border-radius: 16px;
    margin-top: 2rem;
}