.review-card {
    background-color: white;
    border-radius: 16px;
    width: 16rem;
    height: 15.5rem;

    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

.review-details {
    padding: 1.5rem 0 0 2rem;
}

.review-img-stars {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.review-img-stars .stars {
    display: flex;
    gap: .1rem;
}

.review-img-stars img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.review-img-stars .stars .star {
    width: 0.625rem;
    height: 0.625rem;
}

.review-details-title {
    font-weight: 500;
    font-size: 0.875rem;
}

.review-details .review {
    font-size: 0.75rem;
    line-height: 18px;
    width: 12.5rem;
}