body {
  background-color: #dedede;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 60px;
}

p {
  font-size: 25px;
  font-family: Arial, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}
