html,
body {
  margin: 0;
  padding: 0;
  background: #27292c;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: Tahoma, sans-serif;
}

h2 {
  font-size: 80%;
  color: #333;
  margin: 1.5em 0;
}

main {
  min-width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1.5em;
  display: flex;
  background-color: white;
}

.image-file {
  border: 1px solid lightgreen;
  padding: 0.3em 0.5em;
  font-size: 90%;
  color: #666;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4em;
  border-radius: 5px;
}

.image-file-loaded {
  border: 1px solid lightgreen;
  padding: 0.3em 0.5em;
  font-size: 90%;
  color: #666;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4em;
  border-radius: 5px;
  background-color: lightgreen;
  color: #333;
}

button {
  margin: 1.5em 0;
  padding: 0.5em 0.8em;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: skyblue;
  border-radius: 5px;
}

button:focus {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}

button:hover {
  color: skyblue;
  background-color: #666;
}

button:active {
  background-color: #333;
  color: #fff;
}

img {
  width: 100px;
}

.img-container {
  display: flex;
  gap: 5px;
}
